.DS_Store

# node modules
project/node_modules/*

#email settings
project/app/server/modules/email-settings-mine.js

# user images
project/app/server/userImages/*

# graph db
project/graphdb

# redis db
project/dump.rdb

# rethinkdb
project/rethinkdb_data/*
