.DS_Store

# node modules
project/node_modules/*

#email settings
project/app/server/modules/email-settings-mine.js

# user images
project/app/server/userImages/*.png
project/app/server/userImages/*.jpg
project/app/server/userImages/*.jpeg
project/app/server/userImages/*.tiff
project/app/server/userImages/*.bmp

# graph db
project/graphdb

# redis db
project/dump.rdb

# rethinkdb
project/rethinkdb_data/*
