extends layout

block content

	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				.navbar-brand Account Settings
				.navbar-btn#btn-user.btn.btn-default
					| User details
				.navbar-btn#btn-mainpage.btn.btn-default
					| Main Page
			ul.nav.navbar-nav.navbar-right
				li
					.navbar-btn#btn-logout.btn.btn-default
						| Sign Out

	// preset form values if we receive a userdata object //
	- user = typeof(udata) != 'undefined' ? udata : { }
	// store the userId on the client side in a hidden input field //
	input(type='hidden', value=user._id)#userId					
	
	#blog-form-container
		form(method="post",name="blogDataForm").form-horizontal.well
			h1 Create your Blog Post
			hr
			.form-group
				label.control-label.col-sm-3 Title
				.col-sm-9
					input#title-tf(type='text', name='blogTitle', placeholder= 'Enter title of your blog')
					
			.form-group
				label.control-label.col-sm-3 Location
				.col-sm-9
					select.form-control#category-list(name='category')
						each item in categories
							option(selected=item.name == user.category)= item.name

			.form-group
				label.control-label.col-sm-3 Blog Data
				.col-sm-9
					textarea#theblogTextarea(type='text', rows="20",cols="60", name='blogTextarea', placeholder= 'Enter your blog data here')
			hr
			.form-buttons
				input#blog-btn-submit(type='submit',value='Create your blog')
			.clearfix
	include modals/confirm
	include modals/confirm-blog
block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')