
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#main

#user-details

	table
		tbody
			tr
				td
					tr
						td 
						h3 Title: &nbsp;
						td #{blogTitle}
							br
							br
				tr
					td 
					h5 Blog Data: &nbsp;
						br
						br
						p #{blogTextArea}
