
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#main
h1 Welcome to Blog application
a(href="/blogPost") Click here to create your own Blog Page

#user-details

		table
			tbody
				tr
					td
						tr
							td	Blog Title: &nbsp;
								each blogTitle, index in blogData
									a #[a(href=`/mainPage/${blogs[index]}`) #{blogTitle}] &nbsp;	
