
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#main
	h1 Welcome to Blog application
	br
	br
	h6 To create a new blog post 
	button(type='create-blogpost')#btn-create-blogpost.btn.btn-primary click here

#user-details
	table
		tbody
			tr
				td
					tr
						td
							h3 
								b All blog posts: &nbsp;
						each blogTitle, index in blogData
							tr
								td
									a #[a(href=`/mainPage/${blogs[index]}`) #{blogTitle}]
