
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#main
h1 Welcome to Blog application
h4 
	a(href="/blogPost") Click here to create your new blog post

#user-details
	table
		tbody
			tr
				td
					tr
						td
							h3 
								b Latest blog posts:
						each blogTitle, index in blogData
							tr
								td
									a #[a(href=`/blogPost/${blogs[index]}`) #{blogTitle}]